<link href="{:url('/',[],'', 'www')}static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<form class="form-horizontal" role="form" action="#" onsubmit="return false" id="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">产品</label>
    <div class="col-sm-1">
        <select class="form-control" name="path">
            {foreach $model->getPathList() as $val}
            <option value="{$val}" {if $model->isPath($val)}selected{/if}>{$val}</option>
            {/foreach}
        </select>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-5">
      <input class="form-control" type="text" value="{$model->user}"  name="user" placeholder="请输入名字">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">密码</label>
    <div class="col-sm-5">
      <input class="form-control" type="text" value="{$model->passwd}"  name="passwd" placeholder="请输入名字">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">有效期</label>
    <div class="col-sm-5">
        <div class="input-group date form_date col-md-5" data-date="{$model->date}" data-date-format="yyyy-mm-dd" data-link-field="date" data-link-format="yyyy-mm-dd">
            <input class="form-control" size="16" type="text" value="{$model->date}" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
         </div>
         <input type="hidden" id="date" name="date" value="{$model->date}" /><br/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" id="submit">提交</button>
    </div>
  </div>
</form>
<script src="{:url('/',[],'','www')}static/js/bootstrap-datetimepicker.min.js"></script>
<script src="{:url('/',[],'','www')}static/js/bootstrap-datetimepicker.fr.js"></script>